H1 {
    color: crimson;
    font-family: sans-serif;
}
H2 {
    color: crimson;
    font-family: sans-serif;
}
H3 {
    color: crimson;
    font-family: sans-serif;
}
.overview {
    font-style: italic;
}
header {
    background-color: #eee
}
footer {
    background-color: #eee
}
div {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
header {
    border-bottom: 1px solid silver;
}
footer {
    border-top: 1px solid silver;
}
H1 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
}

H2 {
    border-bottom: 4px dotted crimson;
}
body {
    margin: 0;
}
.numbers-box {
    height: 60px; 
    width: 60px;
    border-width: 10px;
    border-color: dotted black;
    background-color: white;
    position: fixed;
    right: 5px;
    bottom: 5px;
}



. color-box-1 {
    background-color: yellowgreen;
    top: 0;
    left: 0;
}